<h1>Feed Buffer App</h1>

<div role="tabpanel" id="page-tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  </ul>
  <br/>

  <!-- Tab panes -->
  <div class="tab-content">
  </div>
</div>

<script data-main="/js/app.js" src="/js/vendor/require.js"></script>
