#feed_wrapper td { padding-bottom: 20px  }
#feed_wrapper td.title .wrapper { border: 1px solid #cdd; border-radius: 3px; padding: 10px   }
#feed_wrapper td.actions { width: 100px; text-align: right  }
#feed_wrapper td .footer { font-size: small; padding-top: 10px; height: 30px;  }
#feed_wrapper td .source { opacity: 0.5;   }
